header {
  width: 100%;
  position: fixed;
}
h1 {
  background-color: white;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
body {
background-color: black;
  margin: 0;
}
.page {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
  padding-top: 130px;
}
img {
  height: 100%;
  width: auto;
  max-height: 500px;
}
.header_links {
 
    list-style: none;
  padding: 15px 20px;
  display: flex;
  gap: 10px;
  background-color: #15e4ef;
  margin: 0;
  justify-content: center;
}
.header_links li {
  list-style: none;
  text-decoration: none;
  padding: 5px 0;
  background-color: white;
}
.header_links li:hover {
  background-color: grey;
}
.header_links li a {
  text-decoration: none;
  color: black;
  border: 2px black solid;
  padding: 5px;
}
table {
  border: black 2px solid;
  font-size: 20px;
}
#equation {
  font-size: 2rem;
  letter-spacing: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#check {
  background: blue;
  color: white;
  font-size: 2rem;
}
#result {
  font-size: 2rem;
}
#block_stage {
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: center;
  padding-top: 30px;
}
#block_area1, #block_area2 {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  gap: 30px 0;
}
.block {
  display: inline-block;
  width: 50px;
  border: 2px solid black;
  margin-right: 10px;
  height: 50px;
  margin-bottom: 10px;
}
