table {
  border: black 2px solid;
  font-size: 20px;
}
body {
background-color: black;
  margin: 0;
}
.page {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
}
img {
  height: 100%;
  width: auto;
  max-height: 500px;
}
.header_links {
 border: 2px solid #15e4ef; 
    list-style: none;
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  background-color: #15e4ef;
  margin: 0;
  justify-content: center;
}
.header_links li {
  list-style: none;
  text-decoration: none;
  padding: 5px;
  background-color: white;
}
.header_links li:hover {
  background-color: grey;
}
.header_links li a {
  text-decoration: none;
  color: white;
}


